<p>tooltip-test works!</p>

<div style="max-width: 300px; display: flex; flex-direction: column; gap: 5px; margin-top: 50px; margin-left: 100px">
  <div style="padding: 10px; border: 1px solid red" [appTooltip]="'Some Text1'">Block 1 </div>
  <div style="padding: 10px; border: 1px solid blue" [appTooltip]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do \n'+
'empor incididunt ut labore et dolore magna aliqua. Ut enim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do \n'+
'empor incididunt ut labore et dolore magna aliqua. Ut enim'">Block 2 Block 2Block 2Block 2Block 2
    Block 2 Block 2Block 2Block 2Block 2
  </div>
</div>
