
.top-list {
  height: 500px;
  overflow-y: auto;
  border: 3px solid gray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.items {
  color: white;
}

.items > li {
  padding: 40px 20px;
  background: #A85CF9;
  margin: 0 0 20px 0;
}

.items > li > .items > li{
  background-color: #5534A5;
}
